---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import Skills from "./Skills.astro";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png,gif}"
);
const { title, url, picture_url, href, technologies } = Astro.props;

if (!images[picture_url])
  throw new Error(
    `"${picture_url}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );

interface Props {
  title: string;
  url: string;
  href: string;
  picture_url: string;
  technologies: Array<string>;
}
---

<div>
  <h2 class="mb-2">{title}</h2>
  <a href={href} target="_blank" class="w-fit"><span>{url}</span></a>
  <a href={href} target="_blank" class="w-fit">
    <Image
      src={images[picture_url]()}
      alt="Imagen de proyecto"
      class="mt-5 rounded-xl hover:scale-150 transition-all duration-200 border-primary border"
    />
  </a>
  <p class="mt-2 font-mono">Tecnologías utlilizadas:</p>
  <div class="flex flex-wrap gap-2">
    {technologies.map((technology) => <Skills>{technology}</Skills>)}
  </div>
  <p class="mt-2 font-mono">Descripción:</p>
  <p class="border-l-2 p-2 text-justify">
    <slot />
  </p>
</div>
